.prediction-overall-container{
    position: relative;
}

.failure-history-btn{
    /* border: none; */
    /* background-color:white; */
    background-color: hsl(360,99%,31%);
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.title{
    text-align: center; 
    /* margin-top:30px; */
    /* font-style: italic; */
    color:hsl(360,99%,31%);
}

.title-failure-history-container{
    display: flex;
    justify-content:space-between;
    margin-top: 30px;
    margin-left: 45px;
    margin-right: 50px;
    align-items: center;
}

.active{
    filter: blur(8px);  
    pointer-events: none; 
    user-select: none;
}


.reading-values{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.input-value{
    width: 250px;
    background-color: hsl(15,80%,96%);
    border: 3px solid hsl(224, 10%, 79%);
    display: flex;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* width: 300px;
    height: 350px; */

}

.gauge-container{

    /* width: 300px; */
    width: 100%;
    /* margin: auto; */

}

/* .guage{
    margin: 20px 20px;
} */

/* .reading-block{
    font-size: 20px !important;
} */


.result-overall-container{
    display: flex;
    justify-content: space-evenly;

}

.result-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.failure-info{
    background-color: hsl(360,99%,31%);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.alert-tilte{
    text-align: center;
}

.no-failure-info{
    background-color: hsl(120,100%,27%);
    padding: 20px;
    color: white;
    border-radius: 10px;
}

.result-info{
    /* margin-bottom: 10px; */
    margin-top: 10px;
}

.prediction-title{
    text-align: center; 
    margin-bottom: 20px;
    font-style: italic;
    color:hsl(360,99%,31%);
}


.failure-table{
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    visibility:hidden;
    opacity: 0;
    background-color: whitesmoke;
    border-radius: 5px;
}



/* .failure-table{
    width: 600px;
    margin-top: 50px;
} */

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(odd) {
    background-color: hsl(15,80%,96%);
  }


.title-close-container{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    
}