*, *::after, *::before {
  box-sizing: border-box;
}

.config-grid-container{
   display: grid;
   grid-template-columns: 300px 1fr;
   margin-top: 30px;
   margin-left: 60px;
}



.config-title{
   margin-bottom: 20px;
   text-align: center;
   color: hsl(360,99%,31%);
   font-size: 20px;
   font-weight: 600;
   
}


.overall-container{
  /* width: 250px; */
  /* height: 100px; */
  /* background: #fff; */
  background-color: hsl(15,80%,96%);;
  padding:20px;
  border-radius: 10px;
  border: 3px solid hsl(224, 10%, 79%);
  display: flex;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* box-shadow: 0px 0px 6.7px 0px rgba(0, 0, 0, 0.25); */
  
}

.individual{
  margin-bottom: 20px;
}

h3{
  /* margin-top: 20px; */
  color: hsl(360,99%,31%);
}



.input-container{
  display: flex;
  margin-top: 20px;
  justify-content: center;

}

.input-min{
  display: flex;
  align-items: center;
}
.input-max{
  display: flex;
  align-items: center;
}


.input-container input{
  width: 65px;
  height: 100%;
  padding: 3px;
  margin-right: 10px;

  text-align: center;
  font-size: 16px;
  outline: none;
  border: 1px solid #999;
  border-radius: 3px;
  
}


label{
  margin-right: 5px;
  font-weight: 600;
}



input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

.config-submit{
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  border: 1px solid hsl(0, 0%, 60%);
  align-self: center;
  cursor: pointer;
}

.config-submit:hover{
  background-color: hsl(360,99%,31%);
  color: white;
}



.reading-values{
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.input-value{
  border: 3px solid hsl(224, 10%, 79%);
  display: flex;
  border-radius: 5px;
  background-color: hsl(15,80%,96%);

}

.result-overall-container{
  display: flex;
  justify-content: space-around;
}

.title{
  text-align: center; 
  /* margin-top:30px; */
  margin-bottom: 10px;
  /* font-style: italic; */
  font-size: 20px;
  color:hsl(360,99%,31%);
}

.result-container{
  margin-top: 80px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result{
  width: 370px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: hsl(360,99%,31%);
  padding: 10px 30px;
  padding-right: 10px;

  color: white;
  border-radius: 5px;

}

.title-alert-container{
  align-self: center;
}

.title-alert{
  color: white;
  margin-bottom: 5px;
}

.result-details{
  margin-bottom: 5px;
}

.general-detail{
  align-self: center;
  margin-top: 5px;
  font-weight: 600;
}  

.alert-icon{
  /* width: 50px; */
  margin-top: 60px;
  text-align: center;
  align-self: center;
}

.advisory-container{
  margin-top: 80px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon{
  display: inline-block;
  font-size: 30px;
}



.loading-spinner{
  padding: 10px;
}


.spinner {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  overflow: hidden;
  position: relative;
  animation: text-color 2s ease-in-out infinite alternate;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
}

.spinner-sector {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid transparent;
  mix-blend-mode: overlay;
  animation: rotate var(--duration) var(--timing) infinite;
  pointer-events: none;
}

.spinner-sector-red {
  border-top-color: lightcoral;
  --duration: 1.5s;
  --timing: ease-in-out;
}

.spinner-sector-blue {
  border-left-color: lightblue;
  --duration: 2s;
  --timing: ease-in;
}

.spinner-sector-green {
  border-right-color: lightgreen;
  --duration: 2.5s;
  --timing: ease-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes text-color {
  0% {
    color: rgba(0, 0, 0, 1);
  }

  50% {
    color: rgba(0, 0, 0, .5);
  }

  100% {
    color: rgba(0, 0, 0, .1);
  }
}




















/* .form-container{
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.title{
  font-size: 24px;
  font-weight: 600;
}

.single-container{
  width: 250px;
  height: 100px;
  background: #fff;
  
  padding:20px;
  border-radius: 10px;
  border: 3px solid hsl(224, 10%, 79%);

  
}

.input-container{
  display: flex;
  margin-top: 20px;
  justify-content: center;

}

.input-min{
  display: flex;
  align-items: center;
}
.input-max{
  display: flex;
  align-items: center;
}

.input-container input{
  width: 65px;
  height: 100%;
  padding: 3px;
  margin-right: 10px;

  text-align: center;
  font-size: 16px;
  outline: none;
  border: 1px solid #999;
  border-radius: 3px;
  
}

label{
  margin-right: 5px;
  font-weight: 600;
}

input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

.config-submit{
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  border: 1px solid #999;
}





.title{
  text-align: center; 
  margin-top:30px;
  font-style: italic;
  color:hsl(360,99%,31%);
}


.reading-values{
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.input-value{
  border: 3px solid hsl(224, 10%, 79%);
  display: flex;
  border-radius: 5px;
  

}

.gauge-container{


  width: 100%;
 

}

.guage{
  margin: 20px 20px;
}

.result-container{
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(360,99%,31%);
  padding: 10px 20px;
  color: white;
  border-radius: 5px;

}

.general-detail{
  align-self: flex-start;
}  */







/* .wrapper{
    width: 400px;
    background: #fff;
    border-radius: 10px;
    padding: 20px 25px 40px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.1);
    margin-top: 50px;
    display: flex;
  }
  header h2{
    font-size: 24px;
    font-weight: 600;
  }
  header p{
    margin-top: 5px;
    font-size: 16px;
  }
  .price-input{
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
  }
  .price-input .field{
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
  }
  .field input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-input .separator{
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider{
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress{
    height: 100%;
    left: 20%;
    right: 40%;
    position: absolute;
    border-radius: 5px;
    background: hsl(360,99%,31%);
  }
  .range-input{
    position: relative;
  }
  .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: hsl(360,99%,31%);
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
  input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: hsl(360,99%,31%);
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  } */